.page-not-found-wrapper{
  margin-top: 5rem;
}
.page-not-found-container{
  background-color: aliceblue;
  height: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found-container div{
  display: flex;
  align-items: center;
  margin: 3rem;
}

.page-not-found-container a{
  background-color: #212529;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;
}

.page-not-found-container a:hover{
   background-color: #333333;
}