.crousel-container{
  text-align: center;
}

.crousel-container h1{
  color: orangered;
  font-size: 3rem;
}


.cast-img{
  height: 8rem;
  width: 8rem;
  margin: 0rem auto;
  border-radius: 100%;
}

.cast-container{
  text-align: center;
  padding: 1rem 0rem;
}
.slider{
  background-color: #DFE6F2;
  margin: 1rem 3rem 3rem;
  border-radius: 10px;
  color: black;
}